<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :no_use_ama_name %>
    <%= form.text_field :no_use_ama_name %>
  </div>


  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_field :birthday %>
  </div>

  <div class="field">
    <%= form.label :accepted %>
    <%= form.check_box :accepted %>
  </div>

  <% Contact.all_categories.each do |val| %>
    <label>
      <%= form.check_box :categories,{ multiple: true, include_hidden: false }, val %>
      <%= val %>
    </label>
  <% end %>
  <label>
    <%= form.check_box :categories,{ multiple: true, include_hidden: false }, 'piyo' %>
    piyo
  </label>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
